sudo: false
dist: trusty

language: cpp

compiler:
  - g++

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - cmake

before_install:
  - pip install --user cpp-coveralls

install:
  - wget https://github.com/google/protobuf/archive/v3.5.1.tar.gz
  - tar -xzvf v3.5.1.tar.gz
  - pushd protobuf-3.5.1 && ./autogen.sh && ./configure --prefix=/usr && make -j2 && sudo make install && sudo ldconfig && popd

script:
  - mkdir build
  - cd build
  - cmake -DCOVERAGE=1 ..
  - make -j2

after_success:
  - coveralls --root . -E ".*CMakeFiles.*"
