name: web-assembly
on: [push, pull_request]
jobs:
  webassembly:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: emsdk
      run: |
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        ./emsdk install latest
        ./emsdk activate latest
    - name: configure
      run: source emsdk/emsdk_env.sh && mkdir build && cd build && cmake -DCMAKE_TOOLCHAIN_FILE=../emsdk/upstream/emscripten/cmake/Modules/Platform/Emscripten.cmake -DNCNN_BUILD_TESTS=ON ..
    - name: build
      run: cmake --build build -j 2
